**/*.osm.*

ors/config/ors-config.yml
ors/elevation_cache/*
ors/graphs/*
ors/logs/*

!ors/elevation_cache/.gitkeep
!ors/graphs/.gitkeep
!ors/logs/.gitkeep

docker-compose.override.yml

nominatim-data/*
!nominatim-data/.gitkeep
photon-data/*
!photon-data/.gitkeep